<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form action="/course/create" method="POST" id="create-course-form">
        <div>
            <label>Course Code <a style="color:tomato;">*</a></label>
            <input type="text" name="code" required />
        </div>
        
        <div>
            <label>Course Name <a style="color:tomato;">*</a></label>
            <input type="text" name="c_name" required />
        </div>
        <div>
            <label>Course Description </label>
            <input type="text" name="desc" />
        </div>
        <div>
            <input type="submit" value = "Submit">
            </div>
        </form>
</body>
</html>